<footer>
  <div class="container col rodape">
    <div class="logo-rodape">
      <a href="index.html">
        <img src="../../../assets/IMG/Ico.png" alt="logo rodape">
      </a>
      <h3>Game Mania</h3>
    </div>

    <ul class="lista-info">
      <li><a href="#info">Informações</a></li>
      <li><a href="#contact">Contato</a></li>
      <li><a href="#sobrenos">Sobre a Game Mania</a></li>
      <li><a href="#endereco">Endereço:
          <span>Rua A, 3030, Rio de Janeiro, RJ</span></a></li>
    </ul>
    <div class="certificados">
      <h4>Certificado de segurança</h4>
      <img src="../../../assets/IMG/certificado.png" alt="Certificados de segurança">
    </div>
  </div>
</footer>