* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #303030;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  padding: 0 20px 0 20px;
}

header {
  width: 100%;
  height: 60%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;

  position: relative;

}

.container-grid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

}

.search{
  width: 40%;
  height: 30%;

  background-color: #424242;
  
  position: absolute;
  top: 20px;
  left: 12px;
}

.search > i {
  font-size: 24px;
  color: #FFF;
  margin-left: 90%;

  position: absolute;
  top: 25%;
  right: 3%;
}

.search > input {
  flex: 1;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  
  position: absolute;
  left: 5px;
  top: 3px;


  background: transparent;

  font-size: 20px;
  color: white;
}

.search ::placeholder{
  color: #ABAAAD;
  font-size:20px;
}

.btn-categoria {
  align-self: center;

  position: absolute;
  left: 12px;

  padding: 0;
  border: none;
  outline: none;
  
  margin-top: 15px;
}
.button > i {
  font-size: 40px;
  position: absolute;
  left: 20px;
  top: 15px;
}

.button {
  width: 25%;

  position: absolute;
  left: 5px;
}

.button > p {
  text-align: right;
  font-size: 1.1em;
  font-weight: bold;

  padding-top: 5px;
  padding-bottom: 0;
  margin: 0 auto;
}

.logo-img{
  background-image: url(../IMG/Ico.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  width: 6%;
  height: 40%;

  position: absolute;
  right: 45%;
  top: 10%;
}
.logo-img > p {
  position: absolute;
  top: 100%;
  left: -45%;
  
  width: 150px;
  
  font-size: 1.3em;
  font-weight: bold;
  color: #FFF;
  text-align: center;

  padding-top: 10px;
}

.icon-btn{
  width: 15%;
  height: 30px;

  position: absolute;
  right: 5%;
  top: 40%;
  
  background: transparent;
  
}

.icon-btn > a {
  padding: 0;
}

.icon-btn > a > i {
  font-size: 180%;
  color: #FFF;

}

.container-banner {
  width: 104%;
  height: 85%;

  margin-top: 20px;
  margin-bottom: 20px;
}

.banner {

  background-image: url(../IMG/Banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  height: 100%;
  width: 100%;


}

.produtos-section {
   align-items: center;
  
   position: relative;
   

}


.produto a img {
  width: 200px;
  height: 200px;
}
.produto :nth-child(2){
  margin-left: 40px ;
}

.produtos-section :first-child{
  margin-left: 20px;
}

.produtos-section :last-child {
  margin-right: 55px;
}

.produto{
  position: absolute;
  top: 40px;
}

.produto h5 {
  width: 180px;
  font-size: 14px;
  
  text-align: left;
}

.produtos-section2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  position: absolute;
  top: 900px;
}

.produto02 {

  margin: 50px 20px 0 50px;
}

.produto02 a img {
  width: 200px;
  height: 200px;
}
